__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3
*.db
.pytest_cache
.git
.gitignore
.env
.idea
.vscode
.ropeproject
*.egg-info
.eggs
*.egg
dist
build
*.log
*.tmp

# Exclude node_modules directories
node_modules
**/node_modules
frontend/node_modules