# Auto detect text files and perform LF normalization
* text=auto

# Makefile and shell scripts must use LF on all platforms
Makefile text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.github/workflows/*.yml text eol=lf

# Kotlin/Java
*.kt diff=kotlin
*.java diff=java

# Web
*.vue linguist-language=HTML
*.ts linguist-language=TypeScript
*.js linguist-language=JavaScript

# Android
*.xml diff=xml
*.gradle linguist-language=Gradle

# Binary files
*.png binary
*.jpg binary
*.webp binary